<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504856430606-s92r01rb6sc2md67s5qpsuunc8fspr69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504856430606-s92r01rb6sc2md67s5qpsuunc8fspr69</string>
	<key>API_KEY</key>
	<string>AIzaSyCgxIljtNQbahR0uUZzfxC91wXZ5YwszXo</string>
	<key>GCM_SENDER_ID</key>
	<string>504856430606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4fa26</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4fa26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504856430606:ios:9c73883b6d900359f4945f</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-4fa26-default-rtdb.firebaseio.com</string>
</dict>
</plist>